{% extends 'base.html' %} {% import 'macros.html' as macro %} {% if title %}
<title>{{title}}</title>
{% else %}

<title>Time-NEWS</title>
{% endif %}
{% block content %}

<!--This the place of the side bar-->

<div class="container" style="background-color: blue;" >
    <hr>
    <h1 style="text-align: center; color: aliceblue; font-family:Tangerine,serif; "><span>WELCOME TO TIME NEWS</span></h1>
    <hr>
    <div class="row">
        <div class="col-sm-3" style="height: 100vh; width: 12em; overflow: scroll; background-color: black; color: aliceblue">
            <hr>
            <h4 style="font-family:Tangerine,serif; font-size:30px">General Sources</h4>
            <hr>
            <div>
                {{macro.displaySourceList(general)}}
            </div>
            <hr>
            <h4 style="font-family:Tangerine,serif; font-size:30px">Bussiness Sources</h4>
            <hr>
            <div>
                {{macro.displaySourceList(business)}}
            </div>
            <hr>
            <h4>Entertainment</h4>
            <hr>
            <div>
                {{macro.displaySourceList(entertainment)}}
            </div>
            <hr>
            <h4>Health</h4>
            <hr>
            <div>
                {{macro.displaySourceList(health)}}
            </div>
            <hr>
            <h4>Technology</h4>
            <hr>
            <div>
                {{macro.displaySourceList(technology)}}
            </div>
            <hr>
            <h4>Sports</h4>
            <hr>
            <div>
                {{macro.displaySourceList(sports)}}
            </div>
        </div>

        <div class="col-sm-9" style="margin-left: 2.5%; margin-top: 2.5%; ">
            <div class="row">
                <div class="col-sm-4">
                    <div class="jumbotron">
                        <div class="panel-heading" style=" font-size: 20px">
                            <span>General News</span>
                        </div>
                        <a href="{{ url_for('main.general', category='general') }}">
                            View Articles
                        </a><var>y</var>

                        <style>
                            .jumbotron {
                                margin: 5% 0.5% 0.5% 0.5%;
                                background-color: aliceblue;
                            }
                        </style>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="jumbotron">
                        <div class="panel-heading" style="font-size: 20px">
                            <span>Business News</span>
                        </div>
                        <a href="{{ url_for('main.general', category= 'business')}}">
                            View Articles
                        </a>
                        <style>
                            .jumbotron{
                                margin: 5% 0.5% 0.5% 0.5%;
                                background-color: aliceblue;
                            }
                        </style>
                    </div>
                </div>
                <div class="col-sm-4">
                        <div class="jumbotron">
                            <div class="panel-heading" style="font-size: 20px" >
                                <span>Entertainment News</span>
                            </div>
                            <a href="{{ url_for('main.general', category= 'entertainment')}}">
                                View Articles
                            </a>
                            <style>
                                .jumbotron{
                                    margin: 5% 0.5% 0.5% 0.5%;
                                    background-color: aliceblue;
                                }
                            </style>
                        </div>
                    </div>
            </div>

            <div class="row" style="margin-top: 3%;">
                <div class="col-sm-4">
                    <div class="jumbotron">
                        <div class="panel-heading" style="font-size: 20px">
                            <span>Health News</span>
                        </div>
                        <a href="{{ url_for('main.general', category= 'health')}}">
                            View Articles
                        </a>
                        <style>
                            .jumbotron{
                                margin: 5% 0.5% 0.5% 0.5%;
                                background-color: aliceblue;
                            }
                        </style>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="jumbotron">
                        <div class="panel-heading" style="font-size: 20px">
                                 <span>Sports News</span>
                        </div>
                        <a href="{{ url_for('main.general', category= 'sports')}}">
                            View Articles
                        </a>
                            <style>
                                .jumbotron{
                                     margin: 5% 0.5% 0.5% 0.5%;
                                     background-color: aliceblue;
                                }
                            </style>
                        </div>
                    </div>
                            <div class="col-sm-4">
                                <div class="jumbotron">
                                    <div class="panel-heading" style="font-size: 20px">
                                        <span>Technology News</span>
                                    </div>
                                    <a href="{{ url_for('main.general', category= 'technology')}}">
                                        View Articles
                                    </a>
                                    <style>
                                        .jumbotron{
                                         margin: 5% 0.5% 0.5% 0.5%;
                                        background-color: aliceblue;
                                        }
                                    </style>
                                </div>
                            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}