{% extends 'base.html' %} {% import 'macros.html' as macro %} {% block content %}
<div class="row">
    <div class="col-md-2" style="background-color: black">

        <div class="sidepane">
            <hr />
            <a href="{{ url_for('main.index') }}">
                <h4 style="color: white;">HOMEPAGE</h4></a>
        </div> 

        <style>
            .sidepane p {
                color: #d5dade;
                padding-left: 1.5em;
                font-size: 16px;
            }

            .sidepane h4 {
                color: #d5dade;
                padding-left: 1em;
            }
        </style>
        </div>

    <div class="col-md-10" style="background-color: whitesmoke; padding: 0;">
        {{macro.displayNewsList(news)}}
    </div>

</div>


{% endblock %}