{% extends 'base.html' %} {% import 'macros.html' as macro %} {% block content %}
<div class="row">
    <div class="col-md-2" style="background-color: black">

        <div class="sidepane">
            <hr />
            <a href="{{ url_for('main.index') }}">
                <h4 style="color: white;">HOMEPAGE</h4>
            </a>
            <hr />
            <a href="{{ url_for('main.index') }}">
                <p>ABC News</p>
            </a>
            <a href="{{ url_for('main.index') }}">
                <p>Al Jazeera English</p>
            </a>
            <a href="{{ url_for('main.index') }}">
                <p>Associated Press</p>
            </a>
            <a href="{{ url_for('main.index') }}">
                <p>Axios</p>
            </a>
            <a href="{{ url_for('main.index') }}">
                <p>Breitbart News</p>
            </a>
            <a href="{{ url_for('main.index') }}">
                <p>CBS News</p>
            </a>
            <a href="{{ url_for('main.index') }}">
                <p>CNN</p>
            </a>
            <a href="{{ url_for('main.index') }}">
                <p>CNN Spanish</p>
            </a>
            <a href="{{ url_for('main.index') }}">
                <p>Fox News</p>
            </a>
            <a href="{{ url_for('main.index') }}">
                <p>Google News</p>
            </a>
            <a href="{{ url_for('main.index') }}">
                <p>MSNBC</p>
            </a>
            <a href="{{ url_for('main.index') }}">
                <p>NBC News</p>
            </a>
            <a href="{{ url_for('main.index') }}">
                <p>News Week</p>
            </a>
            <a href="{{ url_for('main.index') }}">
                <p>New York Magazine</p>
            </a>
            <a href="{{ url_for('main.index') }}">
                <p>Politico</p>
            </a>
            <a href="{{ url_for('main.index') }}">
                <p>Reddit</p>
            </a>
            <a href="{{ url_for('main.index') }}">
                <p>Reuters</p>
            </a>
            <a href="{{ url_for('main.index') }}">
                <p>The Hill</p>
            </a>
            <a href="{{ url_for('main.index') }}">
                <p>The Washington Post</p>
            </a>
            <a href="{{ url_for('main.index') }}">
                <p>New York Times</p>
            </a>
            <a href="{{ url_for('main.index') }}">
                <p>Time</p>
            </a>
            <a href="{{ url_for('main.index') }}">
                <p>USA Today</p>
            </a>
            <a href="{{ url_for('main.index') }}">
                <p>Vice News</p>
            </a>

            <hr />
            <h4>Business Sources</h4>
            <hr />
            <a href="{{ url_for('main.index') }}">
                <p>Bloomberg</p>
            </a>
            <a href="{{ url_for('main.index') }}">
                <p>Business Insider</p>
            </a>
            <a href="{{ url_for('main.index') }}">
                <p>CNBC</p>
            </a>
            <a href="{{ url_for('main.index') }}">
                <p>Fortune</p>
            </a>
            <a href="{{ url_for('main.index') }}">
                <p>The Wall Street Journal</p>
            </a>

            <hr />
            <h4>Entertainment Sources</h4>
            <hr />
            <a href="{{ url_for('main.index') }}">
                <p>BuzzFeed</p>
            </a>
            <a href="{{ url_for('main.index') }}">
                <p>Entertainment Weekly</p>
            </a>
            <a href="{{ url_for('main.index') }}">
                <p>IGN</p>
            </a>
            <a href="{{ url_for('main.index') }}">
                <p>Mashable</p>
            </a>
            <a href="{{ url_for('main.index') }}">
                <p>MTN News</p>
            </a>
            <a href="{{ url_for('main.index') }}">
                <p>Polygon</p>
            </a>

            <hr />
            <h4>Health Sources</h4>
            <hr />
            <a href="{{ url_for('main.index') }}">
                <p>Medical News</p>
            </a>
            <a href="{{ url_for('main.index') }}">
                <p>Today</p>
            </a>


            <hr />
            <h4>Technology Sources</h4>
            <hr />
            <a href="{{ url_for('main.index') }}">
                <p>Ars Technica</p>
            </a>
            <a href="{{ url_for('main.index') }}">
                <p>Crypto Coins News</p>
            </a>
            <a href="{{ url_for('main.index') }}">
                <p>Engadget</p>
            </a>
            <a href="{{ url_for('main.index') }}">
                <p>Hacker News</p>
            </a>
            <a href="{{ url_for('main.index') }}">
                <p>Recode</p>
            </a>
            <a href="{{ url_for('main.index') }}">
                <p>TechCrunch</p>
            </a>
            <a href="{{ url_for('main.index') }}">
                <p>TechRadar</p>
            </a>
            <a href="{{ url_for('main.index') }}">
                <p>The Next Web</p>
            </a>
            <a href="{{ url_for('main.index') }}">
                <p>The Verge</p>
            </a>
            <a href="{{ url_for('main.index') }}">
                <p>Wired</p>
            </a>
            <a href="{{ url_for('main.index') }}">
                <p></p>
            </a>

            <hr />
            <h4>Sports Sources</h4>
            <hr />
            <a href="{{ url_for('main.index') }}">
                <p>Bleacher Report</p>
            </a>
            <a href="{{ url_for('main.index') }}">
                <p>ESPN</p>
            </a>
            <a href="{{ url_for('main.index') }}">
                <p>Cric Info</p>
            </a>
            <a href="{{ url_for('main.index') }}">
                <p>Fox News</p>
            </a>
            <a href="{{ url_for('main.index') }}">
                <p>NFL News</p>
            </a>
            <a href="{{ url_for('main.index') }}">
                <p>NHL News</p>
            </a>

        </div>

        <style>
            .sidepane p {
                color: #d5dade;
                padding-left: 1.5em;
                font-size: 16px;
            }

            .sidepane h4 {
                color: #d5dade;
                padding-left: 1em;
            }
        </style>
    </div>

    <div class="col-md-10" style="background-color: whitesmoke; padding: 0;">
        {{macro.displayNewsList(news)}}
    </div>

</div>


{% endblock %}